
Flowing word/.vs/Flowing word/v16/.suo
*.exe
*.json
*.csproj
*.cache
*.dll
*.txt
*.sln
*.pdb
*.props
*.targets
Flowing word/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Flowing word/obj/Debug/netcoreapp3.1/Flowing word.AssemblyInfo.cs
*.v2
Summations Calculator/.vs/Summations Calculator/v16/.suo
Popsicles/obj/Debug/netcoreapp3.1/Popsicles.AssemblyInfo.cs
Popsicles/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Popsicles/.vs/Popsicles/v16/.suo
Halloween Candy/.vs/Halloween Candy/v16/.suo
Halloween Candy/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Halloween Candy/obj/Debug/netcoreapp3.1/Halloween Candy.AssemblyInfo.cs
Fruit Bowl/obj/Debug/netcoreapp3.1/Fruit Bowl.AssemblyInfo.cs
Fruit Bowl/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Fruit Bowl/.vs/Fruit Bowl/v16/.suo
Cheer Creator/obj/Debug/netcoreapp3.1/Cheer Creator.AssemblyInfo.cs
Cheer Creator/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Cheer Creator/.vs/Cheer Creator/v16/.suo
Calculate Distance/.vs/Calculate Distance/v16/.suo
Calculate Distance/obj/Debug/netcoreapp3.1/Calculate Distance.AssemblyInfo.cs
Calculate Distance/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Deja Vu/.vs/Deja Vu/v16/.suo
Vowel Counter/.vs/Vowel Counter/v16/.suo
Vowel Counter/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Vowel Counter/obj/Debug/netcoreapp3.1/Vowel Counter.AssemblyInfo.cs
Deja Vu/.vs/Deja Vu/v16/.suo
Deja Vu/.vs/Deja Vu/v16/.suo
ConvertDate/.vs/ConvertDate/v16/.suo
ConvertDate/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConvertDate/obj/Debug/netcoreapp3.1/ConvertDate.AssemblyInfo.cs
Pig Latin/.vs/Pig Latin/v16/.suo
Pig Latin/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Pig Latin/obj/Debug/netcoreapp3.1/Pig Latin.AssemblyInfo.cs
AverageWordLength/obj/Debug/netcoreapp3.1/AverageWordLength.AssemblyInfo.cs
AverageWordLength/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
AverageWordLength/.vs/AverageWordLength/v16/.suo
