
Flowing word/.vs/Flowing word/v16/.suo
*.exe
*.json
*.csproj
*.cache
*.dll
*.txt
*.sln
*.pdb
*.props
*.targets
Flowing word/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Flowing word/obj/Debug/netcoreapp3.1/Flowing word.AssemblyInfo.cs
*.v2
Summations Calculator/.vs/Summations Calculator/v16/.suo
Popsicles/obj/Debug/netcoreapp3.1/Popsicles.AssemblyInfo.cs
Popsicles/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Popsicles/.vs/Popsicles/v16/.suo
Halloween Candy/.vs/Halloween Candy/v16/.suo
Halloween Candy/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Halloween Candy/obj/Debug/netcoreapp3.1/Halloween Candy.AssemblyInfo.cs
Fruit Bowl/obj/Debug/netcoreapp3.1/Fruit Bowl.AssemblyInfo.cs
Fruit Bowl/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Fruit Bowl/.vs/Fruit Bowl/v16/.suo
Cheer Creator/obj/Debug/netcoreapp3.1/Cheer Creator.AssemblyInfo.cs
Cheer Creator/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Cheer Creator/.vs/Cheer Creator/v16/.suo
Calculate Distance/.vs/Calculate Distance/v16/.suo
Calculate Distance/obj/Debug/netcoreapp3.1/Calculate Distance.AssemblyInfo.cs
Calculate Distance/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Deja Vu/.vs/Deja Vu/v16/.suo
Vowel Counter/.vs/Vowel Counter/v16/.suo
Vowel Counter/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Vowel Counter/obj/Debug/netcoreapp3.1/Vowel Counter.AssemblyInfo.cs
Deja Vu/.vs/Deja Vu/v16/.suo
Deja Vu/.vs/Deja Vu/v16/.suo
ConvertDate/.vs/ConvertDate/v16/.suo
ConvertDate/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ConvertDate/obj/Debug/netcoreapp3.1/ConvertDate.AssemblyInfo.cs
Pig Latin/.vs/Pig Latin/v16/.suo
Pig Latin/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Pig Latin/obj/Debug/netcoreapp3.1/Pig Latin.AssemblyInfo.cs
AverageWordLength/obj/Debug/netcoreapp3.1/AverageWordLength.AssemblyInfo.cs
AverageWordLength/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
AverageWordLength/.vs/AverageWordLength/v16/.suo
The Spy Life/obj/Debug/netcoreapp3.1/The Spy Life.AssemblyInfo.cs
The Spy Life/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
The Spy Life/.vs/The Spy Life/v16/.suo
AverageWordLength/Program.cs
Kaleidoscope/obj/Debug/netcoreapp3.1/Kaleidoscope.AssemblyInfo.cs
Kaleidoscope/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Kaleidoscope/.vs/Kaleidoscope/v16/.suo
MilitaryTime/obj/Debug/netcoreapp3.1/MilitaryTime.AssemblyInfo.cs
MilitaryTime/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MilitaryTime/.vs/MilitaryTime/v16/.suo
Password Validation 2/obj/Debug/netcoreapp3.1/Password Validation 2.AssemblyInfo.cs
Password Validation 2/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Password Validation 2/.vs/Password Validation 2/v16/.suo
Security/obj/Debug/netcoreapp3.1/Security.AssemblyInfo.cs
Security/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Security/.vs/Security/v16/.suo
New Driver License/obj/Debug/netcoreapp3.1/New Driver License.AssemblyInfo.cs
New Driver License/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
New Driver License/.vs/New Driver License/v16/.suo
That is Odd/obj/Debug/netcoreapp3.1/That is Odd.AssemblyInfo.cs
That is Odd/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
That is Odd/.vs/That is Odd/v16/.suo
HoverCraft/obj/Debug/netcoreapp3.1/HoverCraft.AssemblyInfo.cs
HoverCraft/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
HoverCraft/.vs/HoverCraft/v16/.suo
